{% extends 'base.html' %}

{% block titulo %}Lista de Funcionários {% endblock %}

{% block conteudo %}
<h1 class="h-100 p-5 text-white bg-dark rounded-3">
  Lista de Funcionários
</h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Função</th>
      <th>Departamento</th>
    </tr>
  </thead>
  <tbody>
    {% for f in funcionarios %}
    <tr>
      <td>{{ f }}</td>
      <td>{{ f.funcao }}</td>
      <td>{{ f.depto }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}